<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="demo-es"/>
    <!--<property name="LOG_PATH" value="c:/temp/logs/${APP_NAME}"/>-->
    <property name="LOG_PATH" value="/temp/logs/${APP_NAME}"/>
    <property name="LOG_FILE" value="${LOG_PATH}/${APP_NAME}.log"/>

    <logger name="org.springframework.web" level="debug"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

</configuration>